<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663344030897-lqia3pr8mi9ot327iklm9ubm8ur411t9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663344030897-lqia3pr8mi9ot327iklm9ubm8ur411t9</string>
	<key>API_KEY</key>
	<string>AIzaSyDGw3r1cxccldRPK3ElQwmwmNusqqbY-ao</string>
	<key>GCM_SENDER_ID</key>
	<string>663344030897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toyguncil.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-f2572</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-f2572.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663344030897:ios:9c08412fa9bf9836162e90</string>
</dict>
</plist>